.customeImage {

    width:560px ;
    height:640px ;
}

.py-custom {
    padding-top: 60px; /* 60px en haut */
    padding-bottom: 60px; /* 60px en bas */
}

.containerCustome {
    @apply container mx-auto ;
  }