/* .customeImage {
    width:560px ;
    height:640px ;
} */

/* .py-custom {
    padding-top: 60px;
    padding-bottom: 60px; 
} */
/* .px-custom {
    padding-top: 120px; 
    padding-bottom: 120px; 
} */

.containerCustome {
  @apply container mx-auto ;
}


