@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------------*/
/*-----------NavBar--------------------*/
body{
  background-color: FFFFFF;
}


/* Nav bar  */

.navbarCustome {
  @apply text-xl font-medium;
}

.customColorBlue{
color: #35AFF4;
}
.customeBtn{
border: 1px solid #B7B7B7;
border-radius: 8px;
color: #454545;
@apply text-xl;
}

.customeBtnSing{
width: 81px;
height: 40px;
}
.customeBtnLogin{
width: 96px;
height: 40px;
background-color: #181818;
color: white;
}

.plCustome{
  margin-left: 180px;
}


.pbcustomNav{
  padding-top: 40px;
}


/*------------------------------------*/
/*-----------Header--------------------*/


